@media screen and (max-width: 768px) {

  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
   
    .landing-album-list {
      /* Example class added to style the album covers for mobile */
      .album-cover {
        position: relative;;
        left: calc(50% - 200px);
      }
    }
  } 

  .hero-content h1 {
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 300;
  text-align: center;
}

h3, .h3 {
  font-size: 24px;
  text-align: center;
}

  img {
  vertical-align: middle;
  max-width: 100%;
}

.selling-points .point {
  width: 100% !important;
  float: left;
  padding: 0 0.5%; 
 
}

.selling-points .point h5 {
  font-size: 22px !important;
  font-weight: bold;
  margin-bottom: 40px !important;
  text-align: center;
  height: 8px !important;
  margin-right: 20px;
  margin-left: 20px;

   }

.selling-points .point p {
  font-size: 14px;
  text-align: center; 
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
   }

   html, body { 
    width:100%;  
    overflow-x:hidden; 

  }

::-webkit-scrollbar { 
    display: none; 
}



  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }
}