@media screen and (max-width: 768px) {

 .player-bar-control-group {
  display: block !important;
  vertical-align: middle;
}

  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
   
    .landing-album-list {
      /* Example class added to style the album covers for mobile */
      .album-cover {
        position: relative;;
        left: calc(50% - 200px);
      }
    }
  } 

  .hero-content h1 {
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 300;
  text-align: center;
}

h3, .h3 {
  font-size: 24px;
  text-align: center;
}

  img {
  vertical-align: middle;
  max-width: 100%;
}

.selling-points .point {
  width: 100% !important;
  float: left;
  padding: 0 0.5%; 
 
}

.selling-points .point h5 {
  font-size: 22px !important;
  font-weight: bold;
  margin-bottom: 40px !important;
  text-align: center;
  height: 8px !important;
  margin-right: 20px;
  margin-left: 20px;

   }

.selling-points .point p {
  font-size: 14px;
  text-align: center; 
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
   }

   html, body { 
    width:100%;  
    overflow-x:hidden; 

  }

::-webkit-scrollbar { 
    display: none; 
}

.bs-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}

.bs-docs-nav .navbar-header .navbar-toggle {

}

.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c;
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
  font-weight: 500;
  color: #fff;
}

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 250px; /* Width of the album image. */
  }

 
    .player-bar .left-controls {
      width: 100% !important;
      text-align: left;
    }
 
    .right-controls {
      display: none;
      text-align: right;
    }
 
    .play-controls {
      a {
        font-size: 20px;
        vertical-align: middle;
      }
 
      .previous {
        margin-right: 65px;
      }
 
      .play-pause {
        margin-right: 60px;
        font-size: 30px
      
    }
  }



  .seek-control {
  position: relative;
  width: 200%;
  margin-top: 60px;
  margin-left: 0px;
  align-content: center;
  }
}